@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400); /* for navbar links */
/**
* Gumby Framework
* ---------------
*
* Follow @gumbycss on twitter and spread the love.
* We worked super hard on making this awesome and released it to the web.
* All we ask is you leave this intact. #gumbyisawesome
*
* Gumby Framework
* http://gumbyframework.com
*
* Built with love by your friends @digitalsurgeons
* http://www.digitalsurgeons.com
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
* This file is just enough of "gumby.css" to make the header work
* without any buttons and without much size adaptation.
*/

/* Navbar needs 0 margin for body: */
body { margin: 0px; padding: 0px; }

/* In case the navbar has links: */
.gumby-content { font-family: "Open Sans"; font-weight: 400; }
.gumby-content a { color: #d04526; text-decoration: none; outline: 0; line-height: inherit; }
.navbar div ul li a:hover { background: #292929; }

.gumby-content { background: white; color: #1e1e1e; position: relative; -webkit-font-smoothing: antialiased; }
@media only screen and (max-width: 767px) { .gumby-content { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; } }

.row { width: 100%; max-width: 940px; min-width: 320px; margin: 0 auto; }
@media only screen and (max-width: 960px) { .row { padding: 0 20px; } }
.row .row { min-width: 0px; }
@media only screen and (max-width: 960px) { .row .row { padding: 0; } }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 2.12766%; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column:first-child, .columns:first-child, .alpha { margin-left: 0px; }

/* Column Classes */
.row .five.columns { width: 40.42553%; }

/*=====================================================
 Navigation (with dropdowns)
 ======================================================*/
.navbar { width: 100%; min-height: 60px; display: block; margin-bottom: 20px; background: black; }
@media only screen and (max-width: 767px) { .navbar { position: relative; border: none; }
  .navbar .column, .navbar .columns { min-height: 0; } }
.navbar .logo { display: inline-block; margin: 0 2.12766% 0 0; padding: 0; height: 60px; line-height: 58px; }
.navbar .logo a { display: block; padding: 0 0 0 16px; overflow: hidden; height: 60px; line-height: 58px; }
.navbar .logo a img { max-height: 95%; }
@media only screen and (max-width: 767px) { .navbar .logo { float: left; display: inline; }
  .navbar .logo a { padding: 0; }
  .navbar .logo a img { width: auto; height: auto; max-width: 100%; } }
.navbar ul { display: table; vertical-align: middle; margin: 0; float: none; }
@media only screen and (max-width: 767px) { .navbar ul { position: absolute; display: block; width: 100% !important; height: 0; max-height: 0; top: 60px; left: 0; overflow: hidden; text-align: center; background: black; }
  .navbar ul.active { height: auto; max-height: 600px; z-index: 999999; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-box-shadow: 0 2px 2px #262626; -moz-box-shadow: 0 2px 2px #262626; box-shadow: 0 2px 2px #262626; } }
.navbar ul li { display: table-cell; text-align: center; padding-bottom: 0; margin: 0; height: 60px; line-height: 58px; }
@media only screen and (max-width: 767px) { .navbar ul li { display: block; position: relative; min-height: 50px; max-height: 320px; height: auto; width: 100%; border-right: 0 !important; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; } }
.navbar ul li > a { display: block; padding: 0 16px; white-space: nowrap; color: white; text-shadow: 0 1px 2px black, 0 1px 0 black; height: 60px; line-height: 58px; font-size: 16px; font-size: 1rem; }
.navbar ul li > a i.icon-popup { position: absolute; }

/**** Navbar positioning for Microsoft's browser who deserves not to be mentioned ****/
.ie7 .navbar > ul { width: auto; }

.ie7 .navbar, .ie7 .navbar > ul > li > a { display: block; }

.ie7 .navbar .logo, .ie7 .navbar ul, .ie7 .navbar ul li { float: left; display: inline-block; }

.ie7 .navbar .logo a { display: block; overflow: hidden; }

.ie7 .navbar > ul > li .field { display: block; padding: 12px 18px 0; width: 80%; }
