/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

  body { background: url(loud.png) center 60%  no-repeat fixed;  }

  .modal h2, .modal .btn { margin: 10px 0 0px; }
  .navbar div ul li a:hover { background: #292929; }

  #growboxes { margin-top: 10pt; }
  .panetitle { color: red; font-size: 120%; margin-bottom: 4pt }

  pre.codesnip { font-size: 140%; }

  .racketnav { display: none }

 .wide_only { display: block; }
 .narrow_only { display: none; }

@media only screen and (max-width: 767px) {
 .wide_only { display: none; }
 .narrow_only { display: block; }
}

