html {
    overflow-y: scroll;
}

a img {
    border: 0;
}

/*
body {
    color: black;
    background-color: white;
    font-family: Optima, Arial, Verdana, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
*/

.breadcrumb {
    padding-left: 1em;
    padding-right: 1em;
    background: black; /* #FFCC66; */
    font-size: 120%;
    font-weight: bold;
}

.breadcrumb a,span.not-this {
    color: white;
    /* text-decoration: none; */
    font-weight: normal;
}

.breadcrumb a:hover {
    color: blue;
    text-decoration: underline;
}

#logout {
    float: right;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

table.packages {
    width: 100%;
}

table.packages thead tr {
    color: white;
    background: black; /* #FFCC66; */
}

/*
table.packages tbody tr.even {
    background: #F5F5DC;
}
*/

.recent td:nth-child(1):before {
    content: "*";
    color: red;
}

#search_menu {
    text-align: left;
    width: 95%;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.menu_option {
    margin-right: 4em;
}

.package {
    text-align: center;
}

.package table {
}
.package table tr {
}
.package table td {
    vertical-align: top;
    height: 2em;
}
.package table tr:nth-child(3) td {
    height: 2.5em;
}
.package table tr:nth-child(9) td {
    height: 3.5em;
}
.package table td:nth-child(1) {
    text-align: right;
    font-weight: bold;
    width: 20%;
}
.package table td:nth-child(2) {
    text-align: left;
    width: 60%;
}
.package table td.submit {
    text-align: center;
}
.package input {
    width: 50%;
}
.package textarea {
    width: 100%;
    height: 4em;
}

div.delete {
    margin-top: 1em;
}

#footer {
    width: 100%;
    text-align: right;
    background: black; /* #FFCC66; */
    padding-right: 3em;
}

div.install {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1em;
    background: #F5F5DC;
    text-align: left;
}

.packages tr.proposal, .packages tr.proposal:nth-child(2n) {
   background: rgb(90%, 70%, 90%);
}
.packages tr.problem, .packages tr.problem:nth-child(2n) {
   background: rgb(90%, 70%, 70%);
}

a.active {
    font-weight: bold;
}
a.inactive {
    font-weight: bold;
    text-decoration: line-through;
}
a.possible {
}

#login table tr:nth-child(5) td {
    text-align: center;
    color: red;
}

tr#pi_delete_row td {
    text-align: center;
}

.packages tr td:nth-child(1) {
    min-width: 1em;
}
.packages tr td:nth-child(7) {
    text-align: center;
}
.packages tr td:nth-child(7) a {
    text-decoration: none;
}

.build_green { background-color: #ccffcc; }
.build_yellow { background-color: #ffffcc; }
.build_red { background-color: #ffcccc; }

/* racket nav */
.navbar {
    margin-bottom: 0px;
}

.racketnav {
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 1em;
  padding: 0.5em 0em;
  white-space: nowrap;
}
.racketnav a {
  color: #ffffff;
  text-decoration: none;
}
.racketnav .navcontent {
  margin-left: auto;
  margin-right: auto;
  width: 45em;
  font-family: Optima, Arial, Verdana, Helvetica, sans-serif;
}
.racketnav .navtitle {
  font-size: xx-large;
  font-weight: bold;
}
.racketnav .navitem {
  text-decoration: none;
  font-size: 88%;
}
.racketnav .navlink a {
  padding: 0em 1em;
}
.racketnav .navcurlink a {
  padding: 0em 1em;
  background-color: #555555;
}
.racketnav .navlink    a:hover,
.racketnav .navcurlink a:hover {
  background-color: #888888;
}
.racketnav .navlinkcell {
  text-align: center;
}
.racketnav .helpiconcell {
  text-align: right;
  vertical-align: top;
}
.racketnav .helpicon {
  font-weight: bold;
  font-size: 88%;
}
