# Core racket-lang.org people
Eli Barzilay        <eli@racket-lang.org>         <eli@barzilay.org>
Eli Barzilay        <eli@racket-lang.org>         <eli@plt-racket.org>
Kevin Tew           <tewk@racket-lang.org>        <tewk@tan.tewk.com>
Sam Tobin-Hochstadt <samth@racket-lang.org>       <samth@punge.ccs.neu.edu>
Sam Tobin-Hochstadt <samth@racket-lang.org>       <samth@ccs.neu.edu>
Vincent St-Amour    <stamourv@racket-lang.org>    <stamourv@ccs.neu.edu>
James Swaine        <jamesswaine@racket-lang.org> <james.swaine@gmail.com>
Jens Axel Soegaard  <soegaard@racket-lang.org>    <jensaxel@soegaard.net>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@cs.utah.edu>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@debian.cs.utah.edu>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@localhost.(none)>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@mflatt-laptop.(none)>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@mflatt-VirtualBox.(none)>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@ubuntu-12-64.(none)>
Kathy Gray          <kathyg@racket-lang.org>      <kathryn.gray@cl.cam.ac.uk>
Kathy Gray          <kathyg@racket-lang.org>      <kathyg@c0133.aw.cl.cam.ac.uk>
Matthias Felleisen  <matthias@racket-lang.org>    <matthias@ccs.neu.edu>
Robby Findler       <robby@racket-lang.org>       <robby@eecs.northwestern.edu>
Jon Rafkind         <rafkind@racket-lang.org>     jon <jon@jon-laptop.(none)>
Stephen Chang       <stchang@racket-lang.org>     <stchang216@gmail.com>
Stephen Chang       <stchang@racket-lang.org>     <stchang@ccs.neu.edu>
Asumu Takikawa      <asumu@racket-lang.org>       <asumu@ccs.neu.edu>
Asumu Takikawa      <asumu@racket-lang.org>       <asumu@interchange.ubc.ca>
Guillaume Marceau   <gmarceau@racket-lang.org>    <gmarceau@gmail.com>
Danny Yoo           <dyoo@racket-lang.org>        <dyoo@cs.wpi.edu>
Danny Yoo           <dyoo@racket-lang.org>        <dyoo@hashcollision.org>
Philippe Meunier    <meunier@racket-lang.org>     <meunier@git.racket-lang.org>
David Van Horn      <dvanhorn@racket-lang.org>    <dvanhorn@ccs.neu.edu>
Christos Dimoulas   <chrdimo@racket-lang.org>
Eric Dobson         <endobson@racket-lang.org>    <endobson@cs.brown.edu>
Eric Dobson         <endobson@racket-lang.org>    <eric.n.dobson@gmail.com>

# Additional people
Gregory Cooper    <ghcooper@gmail.com>
Gregory Cooper    <ghcooper@gmail.com>         <greg@cs.brown.edu>
J. Ian Johnson    <ianj@ccs.neu.edu>           <ianj@bubbles.ccs.neu.edu>
J. Ian Johnson    <ianj@ccs.neu.edu>           <ianj@moonpatrol.ccs.neu.edu>
Michael Wilber    <wilmic1102@gmail.com>       <gcr@sneakygcr.net>
Michael Filonenko <filonenko.mikhail@gmail.com> <mfilonenko@ipa.nw.ru>
Rodolfo Carvalho  <rhcarvalho@gmail.com>
Steven Jaconette  <jacones@u.northwestern.edu> <stevenjaconette2007@u.northwestern.edu>
Tim Brown         <tim@timb.net>               <tim.brown@cityc.co.uk>
Marc Burns <m4burns@uwaterloo.ca> Marc Burns <marc@localhost.localdomain>
