Eli Barzilay        <eli@racket-lang.org>         <eli@barzilay.org>
Eli Barzilay        <eli@racket-lang.org>         <eli@plt-racket.org>
Kevin Tew           <tewk@racket-lang.org>        <tewk@tan.tewk.com>
Sam Tobin-Hochstadt <samth@racket-lang.org>       <samth@punge.ccs.neu.edu>
Vincent St-Amour    <stamourv@racket-lang.org>    <stamourv@ccs.neu.edu>
James Swaine        <jamesswaine@racket-lang.org> <james.swaine@gmail.com>
Jens Axel Soegaard  <soegaard@racket-lang.org>    <jensaxel@soegaard.net>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@cs.utah.edu>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@debian.cs.utah.edu>
Matthew Flatt       <mflatt@racket-lang.org>      <mflatt@mflatt-laptop.(none)>
Kathy Gray          <kathyg@racket-lang.org>      <kathryn.gray@cl.cam.ac.uk>
Kathy Gray          <kathyg@racket-lang.org>      <kathyg@c0133.aw.cl.cam.ac.uk>
Matthias Felleisen  <matthias@racket-lang.org>    <matthias@ccs.neu.edu>
Robby Findler       <robby@racket-lang.org>       <robby@eecs.northwestern.edu>
Jon Rafkind         <rafkind@racket-lang.org>     <jon@jon-laptop.(none)>
