#include <windows.h>
#include "../../racket/src/schvers.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
#ifdef MRSTART
APPLICATION             ICON    DISCARDABLE     "mrstart.ico"
#endif
#ifdef MZSTART
APPLICATION             ICON    DISCARDABLE     "mzstart.ico"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MZSCHEME_VERSION_X,MZSCHEME_VERSION_Y,MZSCHEME_VERSION_Z,MZSCHEME_VERSION_W
 PRODUCTVERSION MZSCHEME_VERSION_X,MZSCHEME_VERSION_Y,MZSCHEME_VERSION_Z,MZSCHEME_VERSION_W
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "PLT Design Inc.\0"
#ifdef MRSTART
            VALUE "FileDescription", "Racket GUI Launcher\0"
#endif
#ifdef MZSTART
            VALUE "FileDescription", "Racket Launcher\0"
#endif
            VALUE "FileVersion", MZSCHEME_VERSION "\0"
#ifdef MRSTART
            VALUE "InternalName", "mrstart\0"
#endif
#ifdef MZSTART
            VALUE "InternalName", "mzstart\0"
#endif
            VALUE "LegalCopyright", "Copyright © 1996-2013\0"
#ifdef MRSTART
            VALUE "OriginalFilename", "MrStart.exe\0"
#endif
#ifdef MZSTART
            VALUE "OriginalFilename", "MzStart.exe\0"
#endif
            VALUE "ProductName", "Racket\0"
            VALUE "ProductVersion", MZSCHEME_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
