// Lists

// UI Coloring List
$ui-coloring:
	primary $primary-color $primary-hover-color,
	secondary $secondary-color $secondary-hover-color,
	default $default-color $default-hover-color,
	info $info-color $info-hover-color,
	danger $danger-color $danger-hover-color,
	warning $warning-color $warning-hover-color, 
	success $success-color $success-hover-color;

// UI Styling List
$styling: metro $metro-radius, pretty $button-radius;


// Form field types 
$field-types: text, email, password, numeric, search, combined, prepend, append, double;

$field-sizes: xnarrow, narrow, normal, wide, xwide, xxwide;