[Desktop Entry]
Name=DrRacket
GenericName=IDE for Racket
Comment=DrRacket is an interactive, integrated, graphical programming environment for the Racket programming languages.
Terminal=false
Type=Application
Categories=Development;Education;
Exec=drracket -singleInstance
