#ifndef _FAFA_RC_
#define _FAFA_RC_

9000 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9000.bmp"
9001 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9001.bmp"
9002 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9002.bmp"
9003 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9003.bmp"
9004 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9004.bmp"
9005 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9005.bmp"
9006 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9006.bmp"
9007 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9007.bmp"
9100 BITMAP LOADONCALL MOVEABLE DISCARDABLE "bit9100.bmp"

fafa_icn ICON fafa.ico

#endif
