libmysterx.ncb
libmysterx.suo

dotnet/_dotnet.h
dotnet/_dotnet_i.c
dotnet/_dotnet_p.c
dotnet/_dotnet.idl
dotnet/_dotnet.tlb
dotnet/_dotnet.res
dotnet/dlldata.c
dotnet/Release

myspage/Release
myspage/*.idb
myspage/*.user

myssink/Release
myssink/*.idb
myssink/*.user

gc_traverse.inc
3m
xsrc
