dotnet/_dotnet.h
dotnet/_dotnet_i.c
dotnet/_dotnet_p.c
dotnet/_dotnet.idl
dotnet/_dotnet.tlb
dotnet/_dotnet.res
dotnet/dlldata.c
dotnet/Release

myspage/Release
myspage/vc80.idb

myssink/Release
myssink/vc80.idb

gc_traverse.inc
3m
xsrc
