/////////////////////////////////////////////////////////////////////////////
// File:     wx.rc
// Purpose:  wxWindows resource definitions. ALWAYS include
//           this in your application resource file.
//
//                     wxWindows version 1.50
// Copyright (c) 1993 Artificial Intelligence Applications Institute,
//                   The University of Edinburgh
//
//                     Author: Julian Smart
//                       Date: 9-4-93
//
// Permission to use, copy, modify, and distribute this software and its
// documentation for any purpose is hereby granted without fee, provided
// that the above copyright notice, author statement and this permission
// notice appear in all copies of this software and related documentation.
//
// THE SOFTWARE IS PROVIDED "AS-IS" AND WITHOUT WARRANTY OF ANY KIND, EXPRESS,
// IMPLIED OR OTHERWISE, INCLUDING WITHOUT LIMITATION, ANY WARRANTY OF
// MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
//
// IN NO EVENT SHALL THE ARTIFICIAL INTELLIGENCE APPLICATIONS INSTITUTE OR THE
// UNIVERSITY OF EDINBURGH BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR
// CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER RESULTING FROM
// LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF
// DAMAGE, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH
// THE USE OR PERFORMANCE OF THIS SOFTWARE.
/////////////////////////////////////////////////////////////////////////////
//
//
#include <windows.h>
#include "..\base\wx_setup.h"

//////////////////////////////////////////////////////////////////////////////
//
// Dummy Dialog for all wxCAPTION Dialog boxes
//

wxCaptionDialog DIALOG DISCARDABLE  34, 22, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Dummy dialog"
BEGIN
	LTEXT "" -1,0,0,1,1   //necessary for __WATCOMC__
END

wxCaptionResizeDialog DIALOG DISCARDABLE  34, 22, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Dummy dialog"
BEGIN
	LTEXT "" -1,0,0,1,1   //necessary for __WATCOMC__
END

//
// Dummy dialog for dialog boxes without caption & with thin frame
//
wxNoCaptionDialog DIALOG 34, 22, 144, 75
STYLE WS_POPUP
BEGIN
	LTEXT "" -1,0,0,1,1   //necessary for __WATCOMC__
END

wxNoCaptionResizeDialog DIALOG 34, 22, 144, 75
STYLE WS_POPUP | WS_THICKFRAME
BEGIN
	LTEXT "" -1,0,0,1,1   //necessary for __WATCOMC__
END

/*
WXDUMMYDIALOG DIALOG 34, 22, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Dummy dialog"
BEGIN
	LTEXT "" -1,0,0,1,1   //necessary for __WATCOMC__
END
*/

//////////////////////////////////////////////////////////////////////////////
//
// This is the MDI Window menu
//

WXDEFAULTMENU MENU DISCARDABLE 
BEGIN
    POPUP "&Window"
    BEGIN
        MENUITEM "&Cascade",                    4002
        MENUITEM "&Tile",                       4001
        MENUITEM "&Arrange icons",              4003
        MENUITEM "&Next",                       4004
    END
END


//////////////////////////////////////////////////////////////////////////////
//
// Standard wxWindows Cursors
//

WXCURSOR_HAND           CURSOR  DISCARDABLE     "HAND.CUR"
WXCURSOR_BULLSEYE       CURSOR  DISCARDABLE     "BULLSEYE.CUR"
WXCURSOR_WATCH          CURSOR  DISCARDABLE     "WATCH1.CUR"

//////////////////////////////////////////////////////////////////////////////
//
// Default Icons
//

wxDEFAULT_FRAME               ICON std.ico
wxDEFAULT_MDIPARENTFRAME      ICON std.ico
wxDEFAULT_MDICHILDFRAME       ICON std.ico

//////////////////////////////////////////////////////////////////////////////
// User contribution
//

#if FAFA_LIB
#include "fafa.rc"
#endif

