BODY {background-color: #FFFFFF}

a:link, a:active, a:visited { color:#6d380b; text-decoration:underline }
a:hover { color:white; text-decoration:underline; background:#6d380b }

a.plain:link, a.plain:active, a.plain:visited { color:#6d380b; text-decoration:none }
a.plain:hover { color:white; text-decoration:none; background:#6d380b }

a.toc:link, a.toc:active, a.toc:visited {font-family: sans-serif; color:#6d380b; text-decoration:none}
a.toc:hover {font-family: sans-serif; color:white; text-decoration:none; background:#6d380b}

a.image:link, a.image:active, a.image:visited, a.image:hover {
  color: #6d380b;
  background: #FFFFFF;
}

ul.tocchapter { list-style: none; }
ul.tocsection { list-style: circle; color: #923a3a }

hr.copyright { width: 50% }

input.default { background: #ffffff; color: #000000; vertical-align: middle}

h1, h2, h3, h4 {font-family: sans-serif; color: #6d380b}
h1 {font-size: 2em}
h2 {margin-top: 30px; font-size: 1.5em}
h3 {margin-top: 30px; font-size: 1.17em}
h1, h2, h3, h4 {font-weight: bold}

.title { font-family: sans-serif; font-weight: bold; font-size: 2.5em; color: #6d380b; white-space: nowrap}

.formdef { color: #6d380b }

table.indent {margin-left: 20px}

