
.codecomment {
  color: #c2741f;
}
.codeparenthesis {
  color: #843c24;
}
.codeconstant, .codestring {
  color: #228b22;
}
.codeid, .codemodpath {
  color: #262680;
}
.codeimportid {
  color: blue;
}
.codeimportform {
}
.codelinkimportid {
  color: blue;
  text-decoration: none;
}
.codelinkimportform {
  color: black;
  text-decoration: none;
}
.codelinkimportid:hover {
  text-decoration: none;
}
.codelinkimportform:hover {
  text-decoration: none;
}
.codemodpath:hover {
  text-decoration: none;
}

.codesnip { display: none }
.codesnip.active { display: block}
