

body {
   color: black;
/*background-color: #e5e5e5; */
/*background-color: beige;*/
   margin-top: 2em;
   margin-left: 8%;
   margin-right: 8%;
}

h1,h2,h3,h4,h5,h6 {
   margin-top: .5em;
}

.partheading {
   font-size: 90%;
}

.chapterheading {
   font-size: 90%;
}

pre {
    margin-left: 2em;
}

ol {
   list-style-type: decimal;
}

ol ol {
   list-style-type: lower-alpha;
}

ol ol ol {
   list-style-type: lower-roman;
}

ol ol ol ol {
   list-style-type: upper-alpha;
}

.scheme {
   color: brown;
}

.scheme .keyword {
   color: #990000;
   font-weight: bold;
}

.scheme .builtin {
   color: #990000;
}

.scheme .variable {
   color: navy;
}

.scheme .global {
   color: purple;
}

.scheme .selfeval {
   color: green;
}

.scheme .comment {
   color:  teal;
}

.schemeresponse {
   color: green;
}

.navigation {
   color: red;
   text-align: right;
   font-style: italic;
}

.disable {
   /* color: #e5e5e5; */
color: gray;
}

.smallcaps {
font-size: 75%;
}

.smallprint {
   color: gray;
   font-size: 75%;
   text-align: right;
}

.smallprint hr {
   text-align: left;
   width: 40%;
}

