@mixin input-size($size) {
  @if $size == xxwide { $size: 100%; }
  @if $size == xwide { $size: 82.6666666667%; }
  @if $size == wide { $size: 65.3333333333%; }
  @if $size == normal { $size: 48%; }
  @if $size == narrow { $size: 30.6666666667%; }
  @if $size == xnarrow { $size: 13.3333333333%; }

  width: $size;
}

@mixin input-sizes-list() {
  $sizes: ();
  @each $item in $field-sizes {
    $sizes: join($sizes, unquote(".#{$item} "), comma);
  }
  #{$sizes} { @content }
}
