.search-result-wrapper {
    display: none;
    box-sizing: border-box;
    cursor: help;
}

/* The following pair of colors are picked to account for color blindness
 * See https://davidmathlogic.com/colorblind/
 */

.search-result-wrapper-pkg-base {
    background-color: #006CD1;
    padding-right: 5px;
}

.search-result-wrapper-pkg-main-dist {
    background-color: #994F00;
    padding-right: 5px;
}

.search-result-row {
    margin: 0.1em 0em;
    padding: 0.25em 1em;
    cursor: default;
}
