/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

  .modal h2, .modal .btn { margin: 10px 0 0px; }

  b { font-weight: bold; }
  tt { font-family: "Inconsolata"; }

  #growboxes { margin-top: 10pt; }
  .panetitle { color: red; font-size: 120%; margin-bottom: 4pt }

  .codesnip { display: none; } 
  .codesnip.active { display: block; }


 .wide_only { display: block; }
 .narrow_only { display: none; }

@media only screen and (max-width: 767px) {
 .wide_only { display: none; }
 .narrow_only { display: block; }
}



 .introlink { color: black; }

a:hover .introlink { color: #C03D20; }


.thanks {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.5em;
  font-size: small;
 }
